Source: sphinxbase
Priority: optional
Maintainer: Debian Accessibility Team <pkg-a11y-devel@alioth-lists.debian.net>
Uploaders: Samuel Thibault <sthibault@debian.org>
Build-Depends: debhelper-compat (= 12), bison, pkgconf,
 architecture-is-little-endian,
 libpulse-dev, libblas-dev, liblapack-dev,
 doxygen, python3-all-dev:any, libpython3-all-dev, dh-sequence-python3, python3-setuptools,
 swig, libjs-jquery,
 strace [linux-any], ltrace [amd64 i386 s390x powerpc ppc64]
Build-Conflicts: libjack-dev
Rules-Requires-Root: no
Standards-Version: 4.6.1
Section: sound
Homepage: https://cmusphinx.sourceforge.net/
Vcs-Git: https://salsa.debian.org/a11y-team/sphinxbase.git
Vcs-Browser: https://salsa.debian.org/a11y-team/sphinxbase

Package: libsphinxbase-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, libjs-jquery
Description: Speech recognition tool - development documentation
 CMU Sphinx is a large vocabulary, speaker-independent continuous speech
 recognition engine.
 .
 This package contains documentation for developing programs that use Sphinx.

Package: libsphinxbase-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libsphinxbase3 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, libpulse-dev
Description: Speech recognition tool - development files
 CMU Sphinx is a large vocabulary, speaker-independent continuous speech
 recognition engine.
 .
 This package contains header files and static libraries for developing programs
 that use Sphinx.

Package: sphinxbase-utils
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Speech recognition tool - utilities
 CMU Sphinx is a large vocabulary, speaker-independent continuous speech
 recognition engine.
 .
 This package contains tools to manipulate Sphinx files.

Package: libsphinxbase3
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Speech recognition tool - shared library
 CMU Sphinx is a large vocabulary, speaker-independent continuous speech
 recognition engine.
 .
 This package contains the shared library.

Package: python3-sphinxbase
Section: python
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Description: Speech recognition tool - Python3 bindings
 CMU Sphinx is a large vocabulary, speaker-independent continuous speech
 recognition engine.
 .
 This package contains Python3 bindings for libsphinxbase.

Package: swig-sphinxbase
Section: interpreters
Architecture: all
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Description: Speech recognition tool - swig helpers
 CMU Sphinx is a large vocabulary, speaker-independent continuous speech
 recognition engine.
 .
 This package contains swig helpers for building sphinx-related swig bindings.
